{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    마이페이지
    <div class="nav-wrapper">
      <a href="{% url 'user_home' %}">
        <div class="column nav">
          <img class="nav-icon" src="{% static 'image/nav-home.png' %}" >
          <div class="nav-label">홈</div>
        </div>
      </a>
      <a href="{% url 'user_map' %}">
        <div class="column nav">
          <img class="nav-icon" src="{% static 'image/nav-map.png' %}" >
          <div class="nav-label">모집중공고</div>
        </div>
      </a>
      <a href="{% url 'user_login' %}">
        <div class="column nav">
          <div class="nav-active"></div>
          <img class="nav-icon" src="{% static 'image/nav-profile.png' %}" >
          <div class="nav-label">마이페이지</div>
        </div>
      </a>
    </div>
</body>

</html>