{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_order_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="container background">
        <div class="item1"> <img id="back" src="image/order1_1.png" alt="">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b id="item1_1">장바구니</b>


        </div>

        <div class="item2">
            <span id="item4_1">주문내역</span><br><br><br>
            <div id="item2_1">
                &emsp; 딸바&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <img class="item2_2" src="image/order2_4.png" alt="">&emsp; 2&emsp; <img class="item2_2"
                    src="image/order2_3.png" alt="">
                <br><br>
                &emsp; 아메리카노(ICE)&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <img class="item2_2" src="image/order2_4.png" alt="">&emsp; 1&emsp; <img class="item2_2"
                    src="image/order2_3.png" alt="">
                <br><br>
                &emsp; 블루베리 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &ensp;&ensp;&ensp;&ensp;&ensp;
                <img class="item2_2" src="image/order2_4.png" alt="">&emsp; 2&emsp; <img class="item2_2"
                    src="image/order2_3.png" alt="">




            </div>





        </div>
        <div class="item3">
            <span id="item4_1">배달 정보</span><br><br><br>
            <div class="item3_1">
                &emsp; <img src="image/order2_6.png" alt=""> &emsp; 개인수령<br>
                &emsp;&emsp;&emsp; &emsp; <span id="item3_2"> 북구 북현동 it 4호관</span> &emsp; &emsp; &emsp; &emsp;
                &emsp;&emsp;&emsp;
                <button id="item3_3">변경</button>
                <br><br><br>
                &emsp; <img src="image/order2_5.png" alt="">&emsp; 중간 지점 수령
            </div>

        </div>
        <div class="item4">&emsp;
            <span id="item4_1">총 금액</span> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
            &emsp; <span id="item4_2">
                24,000원</span>
            <hr id="item4_3"><br>
            <div id="item4_4">주문금액
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                20,000원<br>
                <br>배달료&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                4,000원



            </div>
        </div>

        <div class="item56">
            <div class="item5"> <span id="item5_1"> 공구인원</span> <br> <br><br>
                &emsp; <span id="item5_1">최소</span> 명 ~<span id="item5_1">최대</span> 명
            </div>
            <div class="item6"> <span id="item6_1"> 모집시간</span><br><br><br>
                <img class="item6_2" src="image/order2_4.png">20분<img class="item6_3" src="image/order2_3.png" alt="">

            </div>
        </div>

        <div class="item7"><br> <span id="item7_1"> 1인당 최종 결제금액 &emsp;&emsp;&emsp;</span> <span id="item7_2"> 6,000원 ~
                12,000원</span> </div>
    </div>
    <a href="{% url 'user_home' %}">
        <div class="item8">
            공구 모집하기
        </div>
    </a>




</body>

</html>