{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_order_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
  <img class="background" src="{% static 'image/order-bg.png' %}" />
  <div class="container">
    <div class="top-section">
      <a href="{% url 'user_store_detail' %}">
        <img class="icon-back" src="{% static 'image/arrow-back.png' %}">
      </a>
      <div class="title">장바구니</div>
      <div></div>
    </div>
    <div class="content-section">
      <div>
        <div class="item1">
          <div class="label1">주문내역</div>
          <div class="between row-margin">
            <div class="label2">딸바</div>
            <div class="icon-between">
              <img class="action-icon" src="{% static 'image/minus.png' %}">
              <div class="label2">2</div>
              <img class="action-icon" src="{% static 'image/plus.png' %}">
            </div>         
          </div>
          <div class="between row-margin">
            <div class="label2">아메리카노(ICE)</div>
            <div class="icon-between">
              <img class="action-icon" src="{% static 'image/minus.png' %}">
              <div class="label2">2</div>
              <img class="action-icon" src="{% static 'image/plus.png' %}">
            </div>         
          </div>
          <div class="between">
            <div class="label2">블루베리</div>
            <div class="icon-between">
              <img class="action-icon" src="{% static 'image/minus.png' %}">
              <div class="label2">2</div>
              <img class="action-icon" src="{% static 'image/plus.png' %}">
            </div>         
          </div>
        </div>
        <div class="item1">
          <div class="label1">배달정보</div>
          <div class="row row-margin25">
            <img class="action-icon margin" src="{% static 'image/inactive-check.png' %}" >
            <div class="column">
              <div class="label4">개인수령</div>
              <div class="label4-width between">
                <div class="label5">북구 복현동 it4호관</div>
                <div class="action-btn2">변경</div>
              </div>
            </div>
          </div>
          <div class="row">
            <img class="action-icon margin" src="{% static 'image/active-check.png' %}" >
            <div class="label4">중간 지점 수령</div>
          </div>
          <div>

          </div>
        </div>
        <div class="item1">
          <div class="between bottom">
            <div class="label1 non-margin">총금액</div>
            <div class="label4">24,000원</div>
          </div>
          <div class="between row-margin11">
            <div class="label4">주문금액</div>
            <div class="label4">20,000원</div>
          </div>
          <div class="between">
            <div class="label4">배달료</div>
            <div class="label4">4,000원</div>
          </div>
        </div>
        <div class="row">
          <div class="item2 margin">
            <div class="label1">공구인원</div>
            <div class="row">
              <div class="label1 non-margin">최소</div>
              <div class="label2">2명</div>
              <div class="label1 non-margin"> ~ 최대</div>
              <div class="label2">4명</div>
            </div>
          </div>
          <div class="item2">
            <div class="label1">모집시간</div>
            <div class="icon-between">
              <img class="action-icon" src="{% static 'image/minus.png' %}">
              <div class="label2">2</div>
              <img class="action-icon" src="{% static 'image/plus.png' %}">
            </div>
          </div>
        </div>
        <div class="item1">
          <div class="between">
            <div class="label1 non-margin">1인당 최종 결제금액</div>
            <div class="label4">6000원 ~ 12000원</div>
          </div>
        </div>
      </div>
      <div class="action-wrapper">
        <a class="action-btn" href="{% url 'user_home' %}">
          공구 모집하기
        </a>
      </div>
      
    </div>
</body>

</html>