{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/user_login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
  <title>로그인페이지 1</title>
</head>
<body>
  <div class="container">
    <img class="background" src="{% static 'image/bg-login.png' %}">
    <div class="content-wrapper">
      <div class="content-card">
        <img class="whiteboard1" src="{% static 'image/login1_2.png' %}" alt="">
        
        <form method="POST" action="{% url 'user_login'%}">
          {% csrf_token %}
          <input type="text" placeholder="아이디" name ="id"/>
          <input type="text" placeholder="패스워드" name ="password"/>
          <input class="newlogin" type="submit" value="로그인">
        </form>
        <!-- <div class="newlogin">로그인</div> -->
        <div class="new"> 아직 회원이 아니신가요?</div>
        <a class="newsignup" href="{% url 'user_signup' %}">
          회원가입
        </a>
      </div>
    </div>
  </div>
</body>

</html>