{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <title>회원가입 페이지</title>
</head>

<body>
  <div class="container">
    <img class="background" src="{% static 'image/bg-login.png' %}">
    <div class="content-wrapper">
      <div class="content-card">
        <div class="label">
          <div>회원가입</div>
        </div>
        <form method="POST" action="{% url 'user_signup' %}">
          {% csrf_token %}
          <input type="text" placeholder="닉네임" name="name"/>
          <input type="text" placeholder="아이디" name="id"/>
          <input type="password" placeholder="패스워드" name="password1"/>
          <input type="password" placeholder="패스워드 재입력" name="password2"/>
          <input type="text" placeholder="주소" name="address"/>
          <input type="submit" class="newsignup" value="확인">
        </form>
      </div>
    </div>
  </div>
</body>

</html>