{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_category_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <title>한식페이지</title>
</head>

<body>
    <div class="container background">
        <div class="title-section">
          <div class="title-wrapper">
            <a href="{% url 'user_home' %}">
              <img class="icon-back" src="{% static 'image/arrow-back.png' %}">
            </a>
            <div>한식</div>
            <div></div>
          </div>
          <div class="kind">
            <div class="menu kind1 active">한식</div>
            <div class="menu kind2">분식</div>
            <div class="menu kind3">양식</div>
            <div class="menu kind4">중식</div>
            <div class="menu kind5">일식</div>
          </div>
        </div>
        <div class="item item2 column">
          <a href="{% url 'user_store_detail' %}">
            <div class="store-wrapper">
              <img class="store-mark" src="{% static 'image/menu_1.png' %}" alt="">
              <div class="store-info-wrapper">
                <div class="store-info-label">고봉민김밥</div>
                <div class="store-info-rating">
                  <img class="store-rating-icon" src="{% static 'image/star.png' %}">
                  <div class="store-rating-label">4.8</div>
                </div>
                <div class="store-info-cost">최소주문금액 15,000원</div>
                <div class="store-info-cost">배달비 1,000원~4,000원</div>
              </div>
            </div>
          </a>
          <a href="{% url 'user_store_detail' %}">
            <div class="store-wrapper">
              <img class="store-mark" src="{% static 'image/menu_1.png' %}" alt="">
              <div class="store-info-wrapper">
                <div class="store-info-label">원할머니보쌈</div>
                <div class="store-info-rating">
                  <img class="store-rating-icon" src="{% static 'image/star.png' %}">
                  <div class="store-rating-label">4.8</div>
                </div>
                <div class="store-info-cost">최소주문금액 15,000원</div>
                <div class="store-info-cost">배달비 1,000원~4,000원</div>
              </div>
            </div>
          </a>
          <a href="{% url 'user_store_detail' %}">
            <div class="store-wrapper">
              <img class="store-mark" src="{% static 'image/menu_1.png' %}" alt="">
              <div class="store-info-wrapper">
                <div class="store-info-label">대마족발</div>
                <div class="store-info-rating">
                  <img class="store-rating-icon" src="{% static 'image/star.png' %}">
                  <div class="store-rating-label">4.8</div>
                </div>
                <div class="store-info-cost">최소주문금액 15,000원</div>
                <div class="store-info-cost">배달비 1,000원~4,000원</div>
              </div>
            </div>
          </a>
          <a href="{% url 'user_store_detail' %}">
            <div class="store-wrapper">
              <img class="store-mark" src="{% static 'image/menu_1.png' %}" alt="">
              <div class="store-info-wrapper">
                <div class="store-info-label">놀부보쌈</div>
                <div class="store-info-rating">
                  <img class="store-rating-icon" src="{% static 'image/star.png' %}">
                  <div class="store-rating-label">4.8</div>
                </div>
                <div class="store-info-cost">최소주문금액 15,000원</div>
                <div class="store-info-cost">배달비 1,000원~4,000원</div>
              </div>
            </div>
          </a>
          <a href="{% url 'user_store_detail' %}">
            <div class="store-wrapper">
              <img class="store-mark" src="{% static 'image/menu_1.png' %}" alt="">
              <div class="store-info-wrapper">
                <div class="store-info-label">본죽</div>
                <div class="store-info-rating">
                  <img class="store-rating-icon" src="{% static 'image/star.png' %}">
                  <div class="store-rating-label">4.8</div>
                </div>
                <div class="store-info-cost">최소주문금액 15,000원</div>
                <div class="store-info-cost">배달비 1,000원~4,000원</div>
              </div>
            </div>
          </a>
          <a href="{% url 'user_store_detail' %}">
            <div class="store-wrapper">
              <img class="store-mark" src="{% static 'image/menu_1.png' %}" alt="">
              <div class="store-info-wrapper">
                <div class="store-info-label">황제명태명가</div>
                <div class="store-info-rating">
                  <img class="store-rating-icon" src="{% static 'image/star.png' %}">
                  <div class="store-rating-label">4.8</div>
                </div>
                <div class="store-info-cost">최소주문금액 15,000원</div>
                <div class="store-info-cost">배달비 1,000원~4,000원</div>
              </div>
            </div>
          </a>
          <a href="{% url 'user_store_detail' %}">
            <div class="store-wrapper">
              <img class="store-mark" src="{% static 'image/menu_1.png' %}" alt="">
              <div class="store-info-wrapper">
                <div class="store-info-label">이바돔감자탕</div>
                <div class="store-info-rating">
                  <img class="store-rating-icon" src="{% static 'image/star.png' %}">
                  <div class="store-rating-label">4.8</div>
                </div>
                <div class="store-info-cost">최소주문금액 15,000원</div>
                <div class="store-info-cost">배달비 1,000원~4,000원</div>
              </div>
            </div>
          </a>
        </div>
    </div>
</body>

</html>