<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <title>로그인페이지 1</title>
</head>

<body>

    <div class="container background">
        <a href="{% url 'user_home' %}">뒤로 가기</a>
        <div class="whiteboard"> <img class="whiteboard1" src="image/login1_2.png" alt="">

            <form id="login-form" method="post">



                <input name="userid" class="userid" placeholder="아이디" type="text">
                <input name="passwprd" class="password" placeholder="비밀번호" type="password">



                <input type="image" src="image/login1_5.png" value="로그인">
                <br><br>
                <div class="new"> 아직 회원이 아니신가요? </div>

                <input type="image" class="newlogin" src="image/login1_7.png" value="회원가입">
                <br><br>
                <!-- <hr class="two" align="left">또는
                <hr class="two" align="right"> -->

                <h2><span>또는</span></h2>
                <p></p>
                <input type="image" class="" src="image/login1_8.png" value="kakao회원가입">



            </form>
            <div>

            </div>


        </div>



    </div>

    </div>
    <!-- <div class="item item1">
        </div > -->
    <!-- <div class="item item2">
            <div>
                <input type="text" placeholder="가게검색" class="search">
            </div> -->

    </div>

</body>

</html>