{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_order_add.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <title>메뉴선택</title>
</head>

<body>
  <div class="container">
    <div class="item1">
      <a href="{% url 'user_store_detail' %}">
        <img class="icon-back" src="{% static 'image/arrow-back.png' %}">
      </a>
    </div>
    <div class="content-wrapper">
      <img id="juice" src="{% static 'image/menu_1.svg' %}" alt="">
      <div class="item3">
        딸바
        <div id="item3_1">5000원<br>
          냉동 딸기+바나나<br>
        </div>
      </div>
      <div class="item5">
        <b id="item5_1"> 수량</id></b>
          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <img src="{% static 'image/minus.png' %}">
          &ensp; &ensp; 
        <img src="{% static 'image/plus.png' %}">
      </div>
      <div class="item6">
        <b id="item5_1"> 금액</id></b>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        &ensp;
      </div>
      <a class="newadd" href="{% url 'user_store_detail' %}">
        담기
      </a>
    </div>
  </div>
</body>

</html>