{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <title>회원가입 페이지</title>
</head>

<body>
  <div class="container">
    <img class="background" src="{% static 'image/bg-login.png' %}">
    <div class="content-wrapper">
      <div class="content-card">
        <div class="label">
          <div>회원가입</div>
        </div>
        <input type="text" placeholder="닉네임" />
        <input type="text" placeholder="아이디" />
        <input type="text" placeholder="패스워드" />
        <input type="text" placeholder="패스워드 재입력" />
        <a class="newsignup" href="{% url 'user_login' %}">
          확인
        </a>
      </div>
    </div>
  </div>
</body>

</html>