/*팝업창*/
/*
.button:hover {
  background: #06D85F;
}
*/

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay2{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target{
  visibility: visible;
  opacity: 1;
}

.overlay2:target{
  visibility: visible;
  opacity: 1;
}

.popup{
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  height: 40%;
  overflow: auto;
}

.popup2{
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  height: 40%;
  overflow: auto;
}

.popup .close {
  transition: all 200ms;
  text-decoration: none;
}

.popup2 .close2{
  transition: all 200ms;
  text-decoration: none;
}

.time{
  font-size: 15;
}

/*
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
*/

/*시간 버튼*/
:focus {
  outline-color: transparent;
  outline-style: none;
}

.topcoat-button-bar__item > input {
  border: 0;
	clip: rect(0 0 0 0);
	height: 2rem;
	margin: 0 -2rem -2rem 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: auto;
  opacity: 0.001;
}

.topcoat-button-bar {
  display: table;
  table-layout: fixed;
  white-space: no-wrap;
  margin: 0;
  padding: 0;
}

.topcoat-button-bar__item {
  display: table-cell;
  width: auto;
  border-radius: 0;
  margin:30;
}

.topcoat-button-bar__button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  background-clip: padding-box;
  color: inherit;
  vertical-align: top;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font: inherit;
  cursor: default;
  user-select: none;
}

.topcoat-button-bar__button {
  padding: 0 1.25rem;
  border: 1px solid #a5a8a8;
  /* Important inheritance to manipulate border radius from parent */
  border-radius: inherit;
  background-color: #e5e9e8;
  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
  color: #454545;
  text-shadow: 0 1px #fff;
  line-height: 3rem;
}

:checked + .topcoat-button-bar__button,
.topcoat-button-bar__button:active,
.topcoat-button-bar__button.is-active {
  background-color: #d3d7d7;
  -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.12);
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

.topcoat-button-bar__item:disabled,
.topcoat-button-bar__item.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-button-bar__button:focus {
  border: 1px solid #0940fd;
  -webkit-box-shadow: 0 0 0 2px #6fb5f1;
  box-shadow: 0 0 0 2px #6fb5f1;
  z-index: 1;
}
