
.background{


}





.container {
    background:
    dispaly:flex; 
    flex-direction: column;
    width:375pt;
    height:812pt;
    align-content: flex-start;
}

.item{
    flex:grow;


}
.item1{
    background-color:#ffffff 
    background-image:
    background-size: cover;
    height:92pt;
    text-align:center;
    font-size:16pt;
    border-bottom: solid 2pt #00000029;
    
}
img.detail_1{
    height:11.5pt;
    width: 10.13pt;
    top: 5pt;
    left: -145pt;
    position: relative;
    

}
.kind{
    display: flex;
    flex-direction: row;
    font-size: 13pt;
    margin-top: 20pt;
}
.img.nemo{
    height:4pt;
    margin-bottom: 3pt;
}
.kind1{
    flex: 1;

}
.kind2{
    flex: 1;
}
.kind3{
    flex: 1;
}
.kind4{
    flex: 1;
}
.kind5{
    flex: 1;
}
.item2{
    background-color:#ffffff 
    background-image:
    background-size: ;
    height:720pt;
    text-align:
    font-size:15pt;
    display:flex;
}
.store{
        display: flex;
        flex-direction: column;
        font-size: 15pt;
        margin-left:27pt;
        margin-top:6pt;
        /* vertical-align: top; */
        text-align: 
        width:10%;
        float: left;
        width: 97pt;
        background: #ffffff;
            /* margin-right: 50px; */
}

.title{
    font-size:15pt;
}
.store00{
    display: flex;
    
    flex-direction: column;
    font-size: 11pt;
    float: left;
    width: 280pt;
    height:auto;

}
.store1{
    flex:  auto;
    height:
    

}
.store2{
    flex:  auto;
}
.store3{
    flex:  auto;
}
.store4{
    flex:  auto;
}
.store5{
    flex:  auto;
    margin-top: 2pt;
}
.store6{
    flex: auto;
    margin-top: 2pt;
}
.store7{
    flex: auto;
}
.store8{
    flex:  auto;
}
.img.store_1{
    
}
.img.store_2{
    
}
.img.store_3{
    
}
.img.store_4{
    
}
.img.store_5{
    
}
.img.store_6{
    
}
.img.store_7{
    
}
.img.store_8{
    
}
.store01{
    flex: auto;

}
.store02{
    flex: auto;
}

.store03{
    flex: auto;
}

.store04{
    flex: auto;
}
.store05{
    flex: auto;
}
.store06{
    flex: auto;
}
.store07{
    flex: auto;
}
.store08{
    flex: auto;
}

