.container {
    display: flex;
    flex-direction: column;
    width:calc(100vw - 40px);
    height:calc(100vh - 46px);
    padding: 23px 20px;
}

.icon-back {
    width: 11px;
    height: 11px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#back{
    margin-top: 10pt;
    margin-left: 15pt;
    
}
#juice{
    width: 120pt;
    height: 120pt;
}
.item3{
    font-size: 16pt;
    font-family: 나눔고딕;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4pt;
    
}
#item3_1{
    font-size: 14pt;
    font-family: 나눔고딕;
    text-align: center;
}
.item4 .hr1{
    width: 100vw;
    margin: 0;
}
.item5{
    font-size: 14pt;
    text-align: center;
}
#item5_1{
    font-size: 14pt;
    font-family: 나눔고딕;
}
#item5_1{
    font-size: 13pt;
    font-family: 나눔고딕;
}
.item6{
    font-size: 14pt;
    text-align: center;
}
.item7{
    background-image: url('image/order1_5.png');
    background-repeat:no-repeat;
    background-position:center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18pt;
    font-family: 나눔고딕;
    /* padding: 19pt 140pt 10pt 170pt; */
    color: #FFFFFF;
    width: 334pt;
}

.newadd {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px 0;
    text-align: center;
    background: rgb(255,107,107);
    background: linear-gradient(189deg, rgba(255,107,107,1) 0%, rgba(254,172,94,1) 100%);
}