/* *{box-sizing: border-box;} */

.grid{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 90px 90px 87vw;
    grid-template-rows: 1000px;
    margin-left: -8px;
}



.mg1{
    grid-column: 1;
    grid-row: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    margin: auto;
    color: white;
    font-weight: bold;

    
}
.mg2{
    grid-column: 1;
    grid-row: 2;
    padding-top: 43px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    margin: auto;
    background-color:#2b3743;
    color: white;
    font-weight: bold;

}
.mg3{
    grid-column: 1;
    grid-row: 2;
    padding-top: 42px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    margin: auto;
    background-color:#ff6b6b;
    font-weight: bold;
}
.mg4{
    grid-column: 1;
    grid-row: 2;
    padding-top: 43px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border: 1px solid #dadbdd;
    margin: auto;
    font-weight: bold;
}
.w{
    color: white;
}
.order{
    padding: 50px;
}

.order_in{
    text-align: center;
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-1{
    background-color:#34495c;
    font-size: 13px;
}

.menu-2{
    background-color:#f5f6f8;
    font-size: 11px;

}
a{
    text-decoration: none;
    color: black;
}
.a_w{
    text-decoration: none;
    color: white;

}
.menu-3{
    display: grid;
    border-top: 1px solid #dadbdd;
    height: 50px;
}
.m3-t{
    display: grid;
    text-align: center;
    height: 43px;
    grid-template-columns: 165px 165px 165px 40% 100px 100px;
    background-color:#f5f6f8;
    font-weight: bold;
    font-size: 11px;
}
.m3-t-1{
    text-align: center;
    margin: auto;
}
.m3-t-2{
    text-align: center;
    margin: auto;
}
.t-3{
    text-align: center;
    margin: auto;
}
.m3-t-4{
    text-align: center;
    margin: auto;
}
.plus{
    background-color: #ff6b6b;
    border-radius: 5px;
    margin: -11px;
    margin-top: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.m3-b{
    display: grid;
}
.bb{
    display: grid;
    text-align: center;
    height: 60px;
    border-bottom: solid 1px #dadbdd;
    grid-template-columns: 165px 165px 165px 40% 100px 100px;
}
.b-1{
    text-align: center;
    margin: auto;  
    
}
.b-2{
    text-align: center;
    margin: auto;  
}
.b-3{
    text-align: center;
    margin: auto;  
}
.b-5{
    border: solid 1px #34495c;
    background-color: #f5f6f8;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    text-align: center;
    margin: auto;  
    font-weight: bold;
}
.b-6{
    border: solid 1px #34495c;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 15px;
    text-align: center;
    margin: auto;  
    font-weight: bold;
}
