<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/store_order.css' %}">
</head>
<body>
    Order
    <a href="{% url 'store_home' %}">가게 정보</a>
    <br>
    
        <a href="{% url 'store_order' %}">주문 관리</a>
        <a href="{% url 'store_menu' %}">메뉴 관리</a>
    
    <a href="{% url 'store_order' %}">접수대기</a>
    <!--<a href="{% url 'store_order_detail' %}">주문 정보</a>-->
    <!--<a href="{% url 'store_order' %}" onclick="window.open('detail', 'store_order_detail', 'width=900, height=400, menubar=no, location=no, status=no, toolbar=no, top=200, left=300');">주문정보</a>-->
    
    <a class="button" href="#popup1">주문 정보</a>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Order Detail</h2>
            <a class="close" href="#">&times;닫기</a>
            현재 창을 닫으려면 닫기 버튼을 누르세요!
        </div>
    </div>

    <a class="button" href="#popup2">접수하기</a>

    <div id="popup2" class="overlay2">
        <div class="popup2">
            <h2>배달 예상 시간</h2>
            <form method="POST" action="{% url 'store_order_add'%}">
                {% csrf_token %}
                <br>

                <div class="form_radio_btn">
                    <input id="radio-1" type="radio" name="time" value="30" checked>
                    <label for="radio-1">30분</label>
                </div>
                
                <div class="form_radio_btn">
                    <input id="radio-2" type="radio" name="time" value="40">
                    <label for="radio-2">40분</label>
                </div>
                
                <div class="form_radio_btn">
                    <input id="radio-3" type="radio" name="time" value="50">
                    <label for="radio-3">50분</label>
                </div>

                <input class="close2" type="submit" value="확인">
                <a class="close" href="#">닫기</a>
            </form>
        </div>
    </div>
    <!--<a href="{% url 'store_order_add' %}">접수하기</a>-->
    <a href="{% url 'store_order_delete' %}">취소하기</a>

    <a href="{% url 'store_order2' %}">진행중</a>
    <a href="{% url 'store_order3' %}">완료내역</a>
    <a href="{% url 'store_order4' %}">취소내역</a>


</body>
</html>