<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/store_login.css' %}">
</head>
<body>
    <form method="POST" action="{% url 'store_login'%}">
        {% csrf_token %}
        <div class="Login_Form" >
            <h1><img src="{% static 'image/logo.png' %}" alt="" height="200px" width="200px"></h1>
            <div class='txtb1'><input type="text" placeholder='아이디'name="id">
            <span data-placeholder='Username'></span>
        </div>
        <div class="txtb2">
            <input type="password" placeholder='패스워드' name="password">
            <span data-placeholder='Password'></span>
            </div>
            <div >
            <input type='submit' class='loginbt' value='로그인'>
        </div>
    </form>
</body>
</html>