<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴 관리(=메뉴 편집)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/store_menu.css' %}">
</head>
    <body>
        <img src="{% static 'image/logo.png' %}" alt="" height="80px" width="80px">
        <div class="grid">
            <div class="menu-1">
                <div class="mg1">
                    <a class="w" href="{% url 'store_order' %}">주문 관리</a>
                </div>
                <div class="mg2">
                    <a class="w" href="{% url 'store_menu' %}">메뉴 관리</a>
                </div>
            </div>
            <div class="menu-2">
                <div class="mg3">
                    <a href="{% url 'store_menu' %}">메뉴편집</a>
                </div>
                <div class="mg4">
                    <a href="{% url 'store_category' %}">분류편집</a>
                </div>
            </div>
            <div class="menu-3">
                <div class="m3-t">
                    <div class="m3-t-1">메뉴명</div>
                    <div class="m3-t-2">분류</div>
                    <div class="t-3">가격</div>
                    <div class="none"></div>
                    <div class="none"></div>
                    <div class="m3-t-4"><p class="plus">
                        <a class="w" href="#popup1">메뉴추가</a><!--팝업test-->
                        <p></div>
                </div>
                <div class="m3-b">
                    {% csrf_token %}
                    {% for menu in menus.all %}
                        <div class="bb">
                            <div class="b-1">{{menu.menuName}}</div>
                            <div class="b-2">{{menu.categoryName}}</div>
                            <div class="b-3">{{menu.menuPrice}}원</div>
                            <div class="none"></div>
                            <div class="b-5">
                                <a href="{% url 'store_menu_edit' menu.id %}">편집</a><!--팝업test-->
                            </div>
                            <div class="b-6">
                                <a href="{% url 'store_menu_delete' menu.id %}">삭제</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--팝업start-->
        <div id ="popup1" class="overlay_menu_add">
            <div class = "popup">
                <h3>메뉴추가</h3>
                <form method="POST" action ="{% url 'store_menu_add'%}">
                    <div class="outer">
                        <div class="inner">
                            <div>
                                메뉴명<br><br>
                                메뉴분류<br><br>
                                가격<br><br>
                                상세설명<br><br>
                                이미지<br><br>
                            </div>    
                            <div>
                                {% csrf_token %}
                                <input type="text" name="menu_name"></input>
                                <br><br>
                                <input type="text" name="menu_category"></input>
                                <br><br>
                                <input type="text" name="menu_price"></input>
                                <br><br>
                                <input type="text" name="menu_detail"></input>
                                <br><br>
                                <div class="filebox">
                                    <label for="ex_file"></label> <input type="file">
                                </div>
                            </div>
                        </div>
                        <div class="inner2">
                            <a class="close" href="#">취소</a>
                            <input type="submit" value="저장" class="save"></input>
                        </div>
                    </div>
            </form>
            </div>
        </div>
        <!--팝업end-->
        <!--팝업start-->
        <div id ="popup2" class="overlay_menu_add">
            <div class = "popup">
                <h3>메뉴편집</h3>
                <form method="POST" action ="{% url 'store_menu_add' %}">
                    <div class="outer">
                        <div class="inner">
                            <div>
                                메뉴명<br><br>
                                메뉴분류<br><br>
                                가격<br><br>
                                상세설명<br><br>
                                이미지<br><br>
                            </div>    
                            <div>
                                {% csrf_token %}
                                <input type="text" name="menu_name" value="{{menu.menuName}}"></input>
                                <br><br>
                                <input type="text" name="menu_category" value="{{menu.categoryName}}"></input>
                                <br><br>
                                <input type="text" name="menu_price" value="{{menu.menuPrice}}"></input>
                                <br><br>
                                <input type="text" name="menu_detail" value="{{menu.menuDetail}}"></input>
                                <br><br>
                                <div class="filebox">
                                    <label for="ex_file"></label> <input type="file">
                                </div>
                            </div>
                        </div>
                        <div class="inner2">
                            <a class="close" href="#">취소</a>
                            <input type="submit" value="저장" class="save"></input>
                        </div>
                    </div>
            </form>
            </div>
        </div>
        <!--팝업end-->
    </body>
</html>