<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Order
    <a href="{% url 'store_home' %}">홈으로</a>
    <br>
    <a href="{% url 'store_order' %}">접수대기</a>
    <a href="{% url 'store_order_detail' %}">주문 정보</a>
    <a href="{% url 'store_order_add' %}">접수하기</a>
    <a href="{% url 'store_order_delete' %}">취소하기</a>

    <a href="{% url 'store_order2' %}">진행중</a>
    <a href="{% url 'store_order3' %}">완료내역</a>
    <a href="{% url 'store_order4' %}">취소내역</a>
</body>
</html>