<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>진행중 주문정보 팝업</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/store_order_detail.css' %}">
</head>
<body>
    <div class="grid">
        <div class="order_list-1">
            <div class="mg1">
                <a class="w" href="{% url 'store_order' %}">주문 관리</a>
            </div>
            <div class="mg2">
                <a class="w" href="{% url 'store_menu' %}">메뉴 관리</a>
            </div>
        </div>
        <div class="order_list-2">
            <div class="mg3">
                <a href="{% url 'store_order' %}">접수대기</a>
            </div>
            <div class="mg4">
                <a href="{% url 'store_order2' %}">진행중</a>
            </div>
            <div class="mg5">
                <a>완료내역</a>
            </div>
            <div class="mg6">
                <a>취소내역</a>
            </div>
        </div>
        <div class="order_list-3">
            {% for order in proceed_orders.all %}
                    <div class="mid_inf">
                        <div class="mid_1">{{order.createdAt | date:"G:i"}}</div>
                        <div class="mid_2">
                            <div class="mid_2-t">
                                <p class="mid_t-1">[{{order.totalPeople}}명]   {{order.totalPrice}}원</p>

                                <p class="mid_t-2">
                                    {% for order_menu in order_menus.all %}
                                        {% if order_menu.orderId.id == order.id %}
                                            {{order_menu.menuName}}{{order_menu.menuNumber}}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="mid_2-b">
                                {% if order.deliveryType == "단일배송" %}
                                    <p class="mid_b-1">[단일배송] {{order.address}}</p> 
                                {% else %}
                                    {% for delivery_info in delivery_infos %}
                                        {% if delivery_info.deliveryInfoList.id == order.id %}
                                            {% for address in delivery_info %}
                                                <div>{{address.user.address}}</div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                        <p class="mid_b-2">[개별배송] 그 외 주소</p>
                                {% endif %} 
                            </div>
                        </div>
                        <div class="mid_3">
                            <a href="#popup1">
                                주문정보
                            </a>
                        </div>
                        <div class="mid_4">
                            <div class="sub">
                                <a class="button" href="#popup2">접수하기</a>
                            </div>
                            <div class="can">
                                <a href="{% url 'store_order_delete' order.id %}">취소하기</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
    <!--팝업 start-->
    <div id="popup1" class="overlay">
        <div class="popup">
            <div class="popup-in">
                <div class="pop1">주문정보</div>
                <div></div>
                <div></div>
                <div></div>
                <div class="pop2">
                    <a class="close3" href="{% url 'store_order2' %}">&times;</a>
                </div>
            </div>
            <div class="popup-in2">
                <div class="pop3">메뉴</div>
                    <div class="pop4">
                        {% for menu_simple in menu_simples %}
                            {{menu_simple.menuName}}{{menu_simple.menuNumber}}
                        {% endfor %}
                    </div>
                
                <div class="pop5"><p class="print">영수증 인쇄</p></div>
                <div></div>
                <div></div>
            </div>
            <div class="popup-in3">
                <div class="pop7">
                    {% if order.deliveryType == "개별배송" %}
                        <div class="pop6">배송지<p class="num">{{order.totalPeople}}</p></div>
                        {% for address in deliveryInfo %}
                            <div>{{address.user.address}}</div>
                        {% endfor %}
                    {% else %}
                        <div class="pop6">배송지<p class="num">1</p></div>
                        <div>{{order.address}}</div>
                    {% endif %}
                </div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>
    </div>
    <!--팝업 end-->
</body>
</html>